sekihan/template/fgimage/*
sekihan/template/bgimage/*
sekihan/template/video
sekihan/template/scenario/chapter_1.ks
sekihan/template/scenario/chapter_2.ks
sekihan/template/scenario/chapter_3.ks
sekihan/template/scenario/chapter_4.ks
sekihan/template/scenario/chapter_5.ks
sekihan/template/scenario/chapter_6.ks
sekihan/template/scenario/chapter_7.ks
sekihan/template/scenario/chapter_8.ks
